<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sipsoftphone" type="SIPSorcery.SoftPhone.SIPSoftPhoneState, softphone"/>
  </configSections>
  <appSettings>
    <add key="STUNServerHostname" value=""/>
    <add key="SIPProxyServer" value="optum.jive.rtcfront.net"/>
    <add key="SIPProxyServerPort" value=""/>
    <add key="SIPUsername" value="1YCtR1pCeEDADa8WfenJA9WTKzSDeA"/>
    <add key="SIPPassword" value="6pEEciNH9ivUOUpn"/>
    <add key="SIPServer" value="reg.jiveip.net"/>
    <add key="SIPFromName" value="16152412565"/>
    <add key="OutputRecordingFolder" value="c:/users/santoshv/recording"/>
    <add key="DnsServer" value=""/>
    <add key="UseAudioScope" value="false"/>
    <add key="AudioOutDeviceIndex" value="-1"/>
  </appSettings>
  <!--<sipsoftphone>
    <sipsockets>
      <sipsocket>192.168.11.50:7060</sipsocket>
    </sipsockets>
  </sipsoftphone>-->
</configuration>
